<div class="row title">
  <h1>Moje wydarzenia </h1>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 my-evnts">
    <h3>Wydarzenia, w których bierzesz udział.</h3>
    <span class="sexy_line"></span>
    <% if @joined_events.empty? %>
      <p>W najbliższym czasie nie bierzesz udziału w żadnych wydarzeniach. 
      <%= link_to "Przejrzyj najnowsze!", events_path  %></p>
    <% else %>
      <ul>
        <% @joined_events.each do |event| %>
          <li>
            <%= link_to "#{event.name}", event_path(event) %>
            <%= event.date %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <h3>Wydarzenia, które organizujesz.</h3>
    <span class="sexy_line"></span>
    <% if @created_events.empty? %>
      <p>W najbliższym czasie nie organizujesz żadnych wydarzeń.</p>
    <% else %>
      <ul>
        <% @created_events.each do |event| %>
          <li>
            <%= link_to "#{event.name}", event_path(event) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>