<div class="wrapper">
	<div class="evnt-logo">
		Evnt.
	</div>

	<nav class="evnt-nav">
		<ul>
			<li>Zaloguj się (poprzez facebook'a)</li>
			<li>Wyloguj się</li>
			<li>Wydarzenia</li>
			<li>Moje wydarzenia</li>
			<li>Dodaj wydarzenie</li>
		</ul>
	</nav>
</div>