/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import bootstrap; 

/* common */

body {
	background: url('bgs/music-691012.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Monof";
	src: url(/assets/fonts/monof55.ttf) format("truetype");;
}

main {
	border: 1px solid green;
	margin: 0% 15%;
	
}

/* main-page */

.wrapper {
	align-items: center;
	color: white;
	display: flex;
	/*font-family: "Monof";*/
	height: 100vh;
	justify-content: center;
	margin: 0% 15%;
}

.evnt-logo {
	background-color: #8a2869;
	border-radius: 50%;
	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 15vh;
	height: 50vh;
	line-height: 50vh;
	width: 50vh;
	text-align: center;
}

.evnt-nav {
	margin-left: 5%;
	width: 50%;
}

.evnt-nav ul {
	list-style-type: none;
	padding: 0;
}

.evnt-nav ul li {
	background: rgba(138, 40, 105, 1);
	border-radius: 10px;
	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 1.5em;
	margin-bottom: 5%;
	text-align: center;
}

.evnt-nav ul li:hover {
	background: rgba(186, 44, 138, 1);
}

.evnt-nav ul li a {
	color: inherit;
	display: block;
	padding: 5%;
	text-decoration: none;
}

/* footer */

footer {
}