/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* common */

body {
	background: url('bgs/music-691012.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: Gotham, sans-serif;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Monof";
	src: url('monof55.ttf') format("truetype");;
}

main {
	/*border: 1px solid green;*/
	color: white;
	margin: 0% 15%;
}

main a {
	color: rgba(154, 28, 66, 1);

	&:hover {
		color: rgba(191, 64, 103, 1);
		text-decoration: none;
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.sexy_line{ 
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
}

/* header */

header {
	color: white;
}

header nav {
	align-items: center;
  background: rgba(0, 0, 0, 0); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* Standard syntax */
	/*border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
	/*box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);*/
	flex-wrap: nowrap;
	flex-direction: row;
	margin: 0% 10% 1% 10%;
}

header ul {
	/*display: flex;*/
	margin: 0;
	/*font-size: 2em;*/
	width: 100%;
}

header li:hover {
	/*color: rgba(255, 255, 255, 0.8);*/
	cursor: pointer;
	text-decoration: none;
}

header li {
	display: inline-flex;
	height: 75px;
	line-height: 75px;
	list-style-type: none;
	padding: 0% 1% 0.5% 1%;
}

header a {
	color: inherit;
	display: block;
}

header a:hover {
	/*text-decoration: none;*/
	color: inherit;
}

header #evnt-logo {
	/*background-color: rgba(0, 0, 0, 0.3);*/
	border-radius: 3em;
	color: rgba(154, 28, 66, 1);
	font-size: 5em;
	font-family: "Monof";
	font-weight: bold;
	position: relative;
		left: +40%;

	a:hover {
		text-decoration: none;
	}	
}

header .img-circle {
	align-self: center;
	border-radius: 50%;
	height: 50px;
	position: relative;
		left: +20px;
}

header .fa {
	font-size: 2em;
	position: relative;
		top: +5px;
}

/*#evnt-logo {
	border: 1px dotted blue;
	background: url('logo/evnt_logo100x100.png');
	background-size: 75px;
	background-repeat: no-repeat;
	width: 75px;
	vertical-align: middle;
}*/

/* footer */

footer {
	/*border-top: 1px solid rgba(255, 255, 255, 0.5);*/
	color: white;
	margin: 5% 10%;
	padding-top: 0;
}

footer .sexy_line {
	margin-bottom: 1%;
}

footer div {
	margin: 0 1% 0 5%;
}

footer ul {
	margin: 0 5% 0 0;
	padding: 0;
}

footer ul li {
	display: inline;
	margin: 0 1%;
}

