/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* common */

body {
	background: url('bgs/music-691012.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Monof";
	src: url('/assets/fonts/monof55.ttf') format("truetype");;
}

main {
	/*border: 1px solid green;*/
	margin: 0% 15%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

/* main-page */

.wrapper {
	align-items: center;
	color: white;
	display: flex;
	font-family: "Monof";
	height: 100vh;
	justify-content: center;
	/*margin: 0% 15%;*/
}

.evnt-logo {
	background-color: #8a2869;
	border-radius: 50%;
	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 15vh;
	height: 50vh;
	line-height: 50vh;
	width: 50vh;
	text-align: center;
}

.evnt-nav {
	margin-left: 5%;
	width: 50%;
}

.evnt-nav ul {
	list-style-type: none;
	padding: 0;
}

.evnt-nav ul li {
	background: rgba(138, 40, 105, 1);
	border-radius: 10px;
	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 1.5em;
	margin-bottom: 5%;
	text-align: center;
}

.evnt-nav ul li:hover {
	background: rgba(186, 44, 138, 1);
}

.evnt-nav ul li a {
	color: inherit;
	display: block;
	padding: 5%;
	text-decoration: none;
}

/* header */

header {
	color: white;
}

header nav {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	margin: 0% 10% 5% 10%;
}

header ul {
	margin: 0;
	width: 100%;
}

header li {
	display: inline-block;
	list-style-type: none;
	padding: 2% 1% 0.5% 1%;
}

header a {
	color: inherit;
	text-decoration: none;
}

/* footer */

footer {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	color: white;
	margin: 5% 10%;
	padding-top: 0.5%;
}

footer span {
	margin: 0 1%;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer ul li {
	display: inline;
	margin: 0 1%;
}

