/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* common */

body {
	background: url('bgs/music-691012.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Monof";
	src: url('monof55.ttf') format("truetype");;
}

main {
	/*border: 1px solid green;*/
	margin: 0% 15%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.sexy_line{ 
  display:block;
  border:none;
  color:white;
  height:1px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

/* main-page */

.wrapper {
	align-items: center;
	color: white;
	display: flex;
	height: 80vh;
	font-family: "Monof";
	justify-content: center;
	/*margin: 0% 15%;*/
}

.evnt-logo {
	background: rgba(154, 28, 66, 1);
	border-radius: 50%;
	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 15vh;
	height: 50vh;
	line-height: 50vh;
	width: 50vh;
	text-align: center;
}

.evnt-nav {
	margin-left: 5%;
	width: 50%;
}

.evnt-nav ul {
	list-style-type: none;
	padding: 0;
}

.evnt-nav ul li {
	background: rgba(154, 28, 66, 1);
	border-radius: 10px;
	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 2em;
	margin-bottom: 5%;
	text-align: center;
}

.evnt-nav ul li:hover {
	background: rgba(186, 44, 138, 1);
}

.evnt-nav ul li a {
	color: inherit;
	display: block;
	padding: 5%;
	text-decoration: none;
}



/* header */

header {
	color: white;
}

header nav {
	align-items: center;
  background: rgba(0, 0, 0, 0); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* Standard syntax */
	/*border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
	/*box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);*/
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	margin: 0% 10% 5% 10%;
}

header ul {
	margin: 0;
	/*font-size: 2em;*/
	width: 100%;
}

header li:hover {
	color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
	text-decoration: underline;
}

header li {
	display: inline-flex;
	height: 75px;
	line-height: 75px;
	list-style-type: none;
	padding: 0% 1% 0.5% 1%;
}

header a {
	color: inherit;
	display: block;
	text-decoration: none;
}

header #evnt-logo {
	/*background-color: rgba(0, 0, 0, 0.3);*/
	border-radius: 25px;
	color: rgba(154, 28, 66, 1);
	font-weight: bold;
	font-size: 3em;
}

header .img-circle {
	align-self: center;
	border-radius: 50%;
	height: 50px;
	position: relative;
		left: +20px;
}

header .facebook {
	font-size: 2em;
}

/*#evnt-logo {
	background: url('logo/evnt_logo100x100.png');
	background-size: contain;
	background-repeat: no-repeat;
}*/

/* footer */

footer {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	color: white;
	margin: 5% 10%;
	padding-top: 0.5%;
}

footer span {
	margin: 0 1%;
}

footer ul {
	margin: 0;
	padding: 0;
}

footer ul li {
	display: inline;
	margin: 0 1%;
}

