// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* main-page */

.wrapper {
	align-items: center;
	color: white;
	display: flex;
	height: 80vh;
	font-family: "Monof";
	justify-content: center;
}

.evnt-logo {
	background: rgba(154, 28, 66, 1);
	border-radius: 50%;
	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 17vh;
	height: 50vh;
	line-height: 50vh;
	width: 50vh;
	text-align: center;
}

.evnt-nav {
	margin-left: 5%;
	width: 40%;
}

.evnt-nav ul {
	list-style-type: none;
	padding: 0;
}

.evnt-nav ul li {
	background: rgba(154, 28, 66, 1);
	border-radius: 10px;
	box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.5);
	display: block;
	font-size: 2em;
	margin-bottom: 5%;
	text-align: center;
}

.evnt-nav ul li .left-part {
	border-right: 2px dashed white;
	cursor: pointer;
	padding: 5%;
	float: left;
	width: 10vh;
}

.evnt-nav ul li:hover {
	background: rgba(154, 28, 66, 0.7);
	text-decoration: none;

}

.evnt-nav ul li:hover + .left-part {
	background: rgba(154, 28, 66, 1);
}

.evnt-nav ul li a {
	color: inherit;
	display: block;
	padding: 5%;
	text-decoration: none;
}

.user-part {
	margin-bottom: 25%;
}