<header>
  <nav>
    <ul>
      <li id="evnt-logo">
        <!-- <a href="/">Evnt.</a> -->
      </li>

      <% if current_user %>
        <li class="pull-right">
            <a href="/"><%= current_user.name  %></a>
        </li>
        <li class="pull-right">
            <%= image_tag(@auth['info']['image'], class: 'img-circle') %>
        </li>
        <li class="pull-right">
          <%= link_to "Wyloguj się", 'sign_out', method: :delete %>
        </li>
      <% else %>
        <li class="pull-right facebook"><%= link_to "auth/facebook" do %><i class="fa fa-facebook"></i><% end %></li>
      <% end %>

    </ul>
    <span class="sexy_line"></span>
  </nav>
</header>